body{
	background-image: url(sitefiles/back01.jpg);
	background-size: cover;
	font-family: Arial;
	max-width: 100%;
	overflow-X: hidden;
}
.form{
	background:  #EFEEEE;
	border-radius: 30px;
	width: 600px;
	height: 750px;
	margin: 100px auto;
}
section{
	display: flex;
	justify-content: space-around;
}
#project{

}
.logo{
	position: relative;
	right: 0px;
	bottom: 80px;
	width: 600px;
	
}
#youtube{
    	position: relative;
    	left: 140px;
}
#mypage{
	position: relative;
	bottom: 250px;
	text-align: center;
	font-size: 40px;
}
.line{
	width: 90%;
}
.about-txt{
	position: relative;
	bottom: 260px;
	font-size: 40px;
	color: #121212;
	text-align: center;
}
#about-txt2{
	position: relative;
	border-left: 2px solid #3F3F3F;
	padding-left: 7px;
	bottom: 280px;
	margin-left: 50px;
	font-size: 27px;
    	color: #3F3F3F;
}
#con{
	position: relative;
	bottom: 300px;
}
.icon{
	width: 50px;
}
.icon:hover{
	transform: scale(1.1);
}
#vk1{
	position: relative;
	bottom: 320px;
	left: 250px;
	width: 80px; 
}
.aboutback{
	background-color: lightgray;
	padding-top: 1px;
	height: 320px;
}

#project2{
	position: relative;
	bottom: 50px;
	text-align: center;
	width: 600px;
}
#line1{
	position: relative;
	bottom: 250px;
}
#line2{
	position: relative;
	bottom: 146px;
}
#line3{
	position: relative;
	bottom: 27px;
}
#none{
	position: relative;
	bottom: 120px;
	font-size: 30px;
    	margin: 0 20px;
    	color: #3F3F3F;
    	margin-left: 25%;
}
#soctxt{
	text-align: center;
	width: 600px;
	margin: -60px 0;
}
.yt{
	position: relative;
	bottom: 15px;
	font-size: 32px;
	text-align: center;	
	margin-left: 0%;
}
.sot {
    	display: inline-block;
    	overflow: hidden;
   	position: relative;
    	left: 40px;
}
.sot img {
    	margin-left: 10px;
    	border-radius: 100px;
    	padding: 3px;
}
.sot img:hover {
	transform: scale(1.1);
}

#soc a{
	text-decoration: none;
}
@media (min-width: 900px) {
	section {
		margin-top: 100px;
		display: flex;
		justify-content: space-around;
	}

	.form {
		width: 23.5%;
	}
	.aboutback{
		width: 80%;
		height: 300px;
	}
	.logo{
		width: 600px;
	}
	#mypage{
		position: relative;
		bottom: 250px;
		font-size: 40px;
		padding-bottom: 20px;
	}
	.about-txt{
		font-size: 30px;
	}
	.aboutback p{
		height: 8%;
		font-size: 25px;
	}
	#line2{

	}
	ul{
		position: relative;
		margin-left: 50px;
		bottom: 150px;
	}
	li{
		font-size: 35px;
		padding-top: 20px;
	}
}

@media (max-width: 900px) {
	section {
		/*flex-direction: column;*/
		display: block;
		margin: 0 auto;
	}

	.form {
		width: 90%;
		height: 500px;
		margin: 100px auto;
	}
	.aboutback{
		height: 200px;
    	width: 220px;
    	top: -170px;
	}
	.logo{
		width: 400px;
		right: 30px;
		bottom: 50px;
	}
	#mypage{
		position: relative;
		bottom: 160px;
		font-size: 20px;
		padding-bottom: 20px;
	}
	.about-txt{
		font-size: 20px;
		bottom: 160px;
	}
	.aboutback p{
		height: 17px;
		font-size: 14px;
	}
	#line1{
		bottom: 160px;
	}
	#project2{
		width: 500px;
    	right: 85px
	}
	#none{
		right: 30px;
	}
	#con{
		bottom: 170px;
		font-size: 20px;
	}
	#vk1{
		width: 50px;
		bottom: 180px;
		left: 140px;
	}
	#soctxt{
		position: relative;
		width: 400px;
		top: 30px;
		right: 30px;
	}
	#line3{
		top: 30px;
	}
	.yt{
		font-size: 25px;
		top: 25px;
		left: 5px;
	}
	#youtube{
		width: 300px;
		height: 100px;
		left: 65px;
		top: 10px;
	}
	.sot a img{
		width: 50px;
		height: 50px;
	}
	#yt2{
		width: 400px;
		height: 200px;
		left: 0px;
		top: 10px;
	}
}
